---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Mi blog de apendizaje";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle = {pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
  </ul>
  
</BaseLayout>

<script>
  import "../scripts/menu";
</script>
